.questionBody{
    margin-top: 50px;
}

.questionBtn{
    margin-top: 50px;
    color: #e7eb10;
    background-color: #0d0c0c;
    height: 45px;
    width: 150px;
    font-size: large;
    border-radius: 6PX;
    border: none;
    box-shadow: 5px 5px 0px #050505,
                -5px -5px 0px #151313;
}
.questionBtn:hover{
    background-color: black;
    box-shadow: inset 5px 5px 0px #050505,
                inset -5px -5px 0px #151313;
}

.questionLabel {
    display: block;
    text-align: left;
    padding: 15px;
    margin-bottom: 5px;
    font-size: 20px;
    background-color:black;
    padding: 20px 10px 20px 20px;
    box-shadow:  5px 5px -15px 0px #060505,
             -8px -8px  5px 2px #161313;
  }
 