body{
  background-color: #0a0a0a;
}

.App{
  color: #e7eb10;
  font-family: Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial;

}

/* .App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  font-family: cursive;
} */
/* .App button{
  background-color: blue;
  border: none;
  border-radius: 5px;
  padding: 1rem 5rem 1rem 5rem;
  color: aliceblue;
  font-family: cursive;
  font-size: 1.5rem;
}
.App label {
  display: block;
  text-align: left;
  padding: 15px;
  margin-bottom: 5px;
  font-size: 20px;
  background-color: skyblue;
  padding: 1rem 8rem 1rem 2rem;
}
.App label.radio+.radio {
  margin-left: 0;
}
.App label.radio input {
  margin-right: 10px;
} */


